
{% extends "RideApp/base.html" %}
{% block content %}
 <ul class="list-group">
  <li class="list-group-item">Owner: {{ object.owner }}</li>
  <li class="list-group-item">Destination: {{ object.dst }}</li>
  <li class="list-group-item">Arrival Time: {{ object.arrivial_time|date:"F d, Y H:i:s"}}</li>
  <li class="list-group-item">Total Passenger Number: {{ object.order_pass_num }}</li>
  <li class="list-group-item">Special Request: {{ object.special_request }}</li>
  <li class="list-group-item">Special Vehicle Type: {{ object.special_vehicle_type }}</li>
   <li class="list-group-item">Status: {{ object.status }}</li>
     {% if object.is_share == True %}
          {% for sharer in sharer_list %}
              <li class="list-group-item">Sharer Destination: {{ sharer.request.dst }}</li>
              <li class="list-group-item">Sharer Number: {{ sharer.share_pass_num }}</li>
          {% endfor %}
     {% endif %}
</ul>
{% endblock content %}
